---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    My name is Alejandro Frutos Fernandez, I'm 25 years old. I'm a Full Stack Developer with +3 years of experience. Currently living in Dublin (Ireland)
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="General Certificate of Education (GCE)"
      subtitle="[2015/2016] at [Colegio Maristas Murcia], [Murcia], [Spain]"
    />
    <TimeLineElement
      title="FullStack Developer Vocational Education and Training (VET)"
      subtitle="[2018/2019] at [IES Ingeniero de la Cierva], [Murcia], [Spain]"
    />
    <TimeLineElement
    title="Bootcamp FullStack"
    subtitle="[2021/2022] at [LemonCode], [Murcia], [Spain]"
  />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="UNIVERSAE"
      subtitle="From [12-2021] to [03-2023] at [UNIVERSAE], [Murcia], [Spain]"
    >
    Responsible and creator of the website universae.com, management of a work team, development of payment gateway measurement, eCommerce management, copywriting, and everything related to theweb and its conversion into forms or products.
    </TimeLineElement>
    <TimeLineElement
      title="DoersDF"
      subtitle="From [03-2023] to [present] at [Remote], [Madrid], [Spain]"
    >
    Full Stack Developer for some of the biggest companies in the country (Spain) and responsible of websites like San Miguel, Mahou, Oxfam etc...
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>PHP</li>
    <li>HTML</li>
    <li>CSS</li>
    <li>TailwindCSS</li>
    <li>MongoDB</li>
    <li>MySQL</li>
    <li>JavaScript</li>
    <li>React</li>
    <li>Vue.js</li>
    <li>Astro</li>
    <li>Wordpress</li>
    <li>Plesk</li>
    <li>Contentful</li>
    <li>Node.js</li>
    <li>Twig</li>
  </ul>

  <div class="mb-5 mt-5">
    <div class="text-3xl w-full font-bold">Things of interest</div>
  </div>

  <ul class="list-disc md:columns-1 columns-2 mx-6">
    <li>Driving license</li>
    <li>A lot of experience in work groups</li>
    <li>Experience being in charge of a project</li>
    <li>English level: Bilingual</li>
  </ul>
</BaseLayout>
