---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm Alejandro Frutos</div>
    <div class="text-3xl py-3 font-bold">Full Stack Developer</div>
    <div class="py-2">
      <text class="text-lg">
        This is my <b>Portfolio</b>
      </text>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
  </div>

  <HorizontalCard
    title="San Miguel"
    img="/preview-sanmiguel.png"
    desc="Development and maintenance of the website for San Miguel, one of the most important brewing companies in Europe."
    url="https://www.sanmiguel.com"
    badge="PHP"
    badge2="React"
    badge3="CSS"
    badge5="Wordpress multisite"
    badge6="Twig"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Wakeuprights OXFAM"
    img="/preview-oxfam.png"
    desc="Web creation by crafting the layout structure and elements using Tailwind and Twig, utilizing Gutenberg's own blocks for the actual layout design. This web also has a very complex form built with react."
    url="https://tejiendoderechos.oxfamintermon.org"
    badge="PHP"
    badge2="React"
    badge3="Tailwind CSS"
    badge5="Wordpress"
    badge6="Twig"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="El patio de Mahou"
    img="/preview-elpatio.png"
    desc="Webpage mainly build by react and conected via API with the CMS cockpit. This website has more than 100 events, which automatically update, these events have the possibility of purchasing tickets. (End of events 09/30/23)"
    url="https://www.mahou.es/el-patio/"
    badge="Vue.js"
    badge2="Tailwind CSS"
    badge5="Cockpit"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">My abilities</div>
  </div>

  <div class="flex flex-col mb-5">
    <div class="flex justify-between items-center mb-2">
      <div class="text-xl font-bold">React / Vue.JS</div>
      <div class="text-sm text-gray-600">90%</div>
    </div>
    <div class="w-full h-2 bg-gray-200 rounded">
      <div class="w-90-fix h-full bg-barra rounded"></div>
    </div>
  </div>

  <div class="flex flex-col mb-5">
    <div class="flex justify-between items-center mb-2">
      <div class="text-xl font-bold">HTML / CSS / TailwindCSS / Sass</div>
      <div class="text-sm text-gray-600">90%</div>
    </div>
    <div class="w-full h-2 bg-gray-200 rounded">
      <div class="w-90-fix h-full bg-barra rounded"></div>
    </div>
  </div>

  <div class="flex flex-col mb-5">
    <div class="flex justify-between items-center mb-2">
      <div class="text-xl font-bold">PHP / API development</div>
      <div class="text-sm text-gray-600">95%</div>
    </div>
    <div class="w-full h-2 bg-gray-200 rounded">
      <div class="w-95-fix h-full bg-barra rounded"></div>
    </div>
  </div>

  <div class="flex flex-col mb-5">
    <div class="flex justify-between items-center mb-2">
      <div class="text-xl font-bold">Angular / Node.js</div>
      <div class="text-sm text-gray-600">75%</div>
    </div>
    <div class="w-full h-2 bg-gray-200 rounded">
      <div class="w-75-fix h-full bg-barra rounded"></div>
    </div>
  </div>

  <div class="flex flex-col mb-5">
    <div class="flex justify-between items-center mb-2">
      <div class="text-xl font-bold">Use of GIT</div>
      <div class="text-sm text-gray-600">80%</div>
    </div>
    <div class="w-full h-2 bg-gray-200 rounded">
      <div class="w-80-fix h-full bg-barra rounded"></div>
    </div>
  </div>

  <div class="flex flex-col mb-5">
    <div class="flex justify-between items-center mb-2">
      <div class="text-xl font-bold">Wordpress / Contentful</div>
      <div class="text-sm text-gray-600">95%</div>
    </div>
    <div class="w-full h-2 bg-gray-200 rounded">
      <div class="w-95-fix h-full bg-barra rounded"></div>
    </div>
  </div>
</BaseLayout>
