---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="inline opacity-75">
    <span  target="_blank" class="font-bold">Astro portfolio</span> developed by
    <span  target="_blank" class="font-bold">Alejandro Frutos ⚡️</span>
  </div>
</footer>
<style>

</style>
