---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="inline opacity-75">
    <a href="#" target="_blank">
      <span class="font-bold">Astro portfolio</span> developed by
      <span class="font-bold">Alejandro Frutos</span>
      <img src="/alex.jpg" alt="Alejandro Frutos" class="w-6 h-6 rounded-full inline-block mr-2" />
    </a>
  </div>
</footer>
